@import "tailwindcss";

@theme {
  /* Couleurs pour Light Mode */
  --color-background: oklch(21% .034 264.665);
  --color-foreground: oklch(27.8% .033 256.848);
  --color-text-primary: #f9fafb;
  --color-text-secondary: #9ca3af;
  --color-primary: oklch(10.1% .176 304.987);;
  --color-primary-dark: oklch(38.1% .176 304.987);;
  --color-secondary: #fbbf24;
  --color-card: #1f2937;
  --color-border: #374151;
}


@media (prefers-color-scheme: dark) {
  @theme  {
    /* Couleurs pour Dark Mode */
    --color-background: oklch(21% .034 264.665);
    --color-foreground: oklch(27.8% .033 256.848);
    --color-text-primary: #f9fafb;
    --color-text-secondary: #9ca3af;
    --color-primary: oklch(10.1% .176 304.987);;;
    --color-primary-dark: oklch(38.1% .176 304.987);
    --color-secondary: #fbbf24;
    --color-card: #1f2937;
    --color-border: #374151;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .animate-fade-in {
    @apply animate-[fadeIn_0.3s_ease-in-out];
  }
   
  @keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
  }
  .animate-fade-zoom-in {
    animation: fadeZoomIn 0.3s ease-out;
  }
  .animate-fade-zoom-out {
    animation: fadeZoomOut 0.2s ease-in;
  }

  @keyframes fadeZoomIn {
    from { opacity: 0; transform: scale(0.95); }
    to   { opacity: 1; transform: scale(1); }
  }

  @keyframes fadeZoomOut {
    from { opacity: 1; transform: scale(1); }
    to   { opacity: 0; transform: scale(0.95); }
  }
  @keyframes shake {
    0% { transform: translateX(0); }
    15% { transform: translateX(-3px); }
    30% { transform: translateX(3px); }
    45% { transform: translateX(-2px); }
    60% { transform: translateX(2px); }
    75% { transform: translateX(-1px); }
    100% { transform: translateX(0); }
  }
  .hover\:pause-shake:hover {
    animation-play-state: paused;
  }
  .animate-shake {
    animation: shake 0.6s ease-in-out infinite;
  }
  
}